/* ---- Page Scaling & color information ---- */

html {
    height: 100%;
  }
  
body {
    background-color: #1e2233;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    height: 95%;
    text-align: center;
  }
  
  /* ---- Tags for coloring / div stuff (might convert to classes eventually) ---- */
  
  #title {
    font-family: Verdana;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 900;
  }
  
  #subtext {
    font-family: Verdana;
    text-align: center;
    font-size: 15px;
    color: white;
  }
  
  #chatbox {
    background-color: #23283d;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    margin-top: 10px;
    border: ridge #101320;
    text-align: left;
  }
  
  #messagebox {
    font-family: Verdana;
    font-size: 16px;
    color: white;
    background-color: #23283d;
    width: 35%;
    height: 100px;
    margin: 0 auto;
    border: ridge #101320;
    text-align: left;
    position: center;
    overflow: hidden;
  }
  
  #message text {
    color: white;
    font-weight: 200;
  }
  
  #message say {
    color: white;
    font-weight:100;
    margin-right: 4px;
    margin-left: 4px;
  }
  #message name {
    color: #ff00ff;
    font-weight: 700;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
  }
  
  