/* ---- Page Scaling & color information ---- */

html /* necessary for width% and height% info */
{
  height: 100%;
}
  
body /* basic background and text style info */
{
  background-color: #1e2233;
  color: white;
  font-family: Verdana;
  font-size: 16px;
  height: 95%;
  text-align: center;
}
  
#title /* Main text */
{
  font-family: Verdana;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 900;
}
  
#subtext /* subtext */
{
  font-family: Verdana;
  text-align: center;
  font-size: 15px;
  color: white;
}

#messagebox /* div for text input */
{
  font-family: Verdana;
  font-size: 16px;
  color: white;
  background-color: #23283d;
  width: 35%;
  height: 100px;
  margin: 0 auto;
  border: ridge #101320;
  text-align: left;
  position: center;
}
  
#chatbox /* div for chatbox */
{
  background-color: #23283d;
  width: 75%;
	height: 650px; /* used to be 600px*/
	overflow: auto;
  margin: auto;
  margin-top: 10px;
  border: ridge #101320;
  text-align: left;
  overflow-x: hidden;
}
  
#chatbox say /* chatbox ">" formating */
{
  color: white;
  font-weight:100;
  margin-right: 4px;
  margin-left: 4px;
  position: fixed;
}

#name /* contains the message with name/text | try out #chatbox name {} */
{
  color: magenta;
  font-weight: 700;
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
}
  
#chatbox p /* contains the message with name/text */
{ 
  color: magenta;
  font-weight: 700;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
}
  
#chatbox text  /* actual text portion of the message */
{
  color: white;
  font-weight: 200;
}
  
#chatbox announce /* style for the server annoucements */
{
  color: #494949;
  font-weight: 700;
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 8px;
  border-color: #494949;
  border-style: solid;
  border-width: 1px;
}

#sidebar { /* sidebar directory */
  background-color: #23283d;
  position: absolute;
  text-align: center;
  width: 180px;
  height: 525px;
  margin: 0 auto;
  border: ridge #101320;
}

#buttonContainer {
  background-color: #23283d;
  text-align: center;
  width: 150px;
  height: 210px; /* used to be 210px */
  margin: 0 auto;
  border: ridge #101320;
}

#onlineContainer {
  background-color: #23283d;
  text-align: center;
  width: 150px;
  height: 210px;
  margin: 0 auto;
  border: ridge #101320;
}
.button { /* default button design and info */
  border: solid;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.rooma { /* background color */
  background-color: magenta;
} 

.rooma:hover { /* hover color */
  background-color: white;
  color: black;
  border-color: magenta;
}

.roomb { /* background color */
  background-color: blue;
} 

.roomb:hover { /* hover color */
  background-color: white;
  color: black;
  border-color: blue;
}

.roomc { /* background color */
  background-color: red;
}

.roomc:hover { /* hover color */
  background-color: white;
  color: black;
  border-color: red;
}
